@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #d4d4d4;
    font-family: sans-serif;
    font-size: 1em;
}

/*Carta*/

.cartas {
    width: 250px;
    height: 350px;
    background: #ffffff;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
     rgba(0, 0, 0, 0.2)0px -3px 0px;
    position: relative;
}

.canto{
    position: absolute;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#supEsq{
    top: 20px;
    left: 10px;
    padding: 5px;
    border-radius: 3px;

    

}

#infDir{
    bottom: 20px;
    right: 5px;
    padding: 5px;
    border-radius: 3px;

}

button{
    padding: 10px 20px;
    background: #008f53;
    border-radius: 5px;
    border: 1px s;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    
}